@mixin bg{background: black !important;}

div{
  //background: black;
  .CodeMirror{
    //@include bg();
    height: 600px !important;
  }

  .CodeMirror-cursor,
  .CodeMirror-cursors,
  .CodeMirror-code{
    //color: white;
  }

  .CodeMirror-cursor{
    //border-left: 1px solid white;
  }

  .CodeMirror-gutter,
  .CodeMirror-gutters,
  .CodeMirror-linenumbers,
  .CodeMirror-gutter-wrapper{
  //  @include bg();
    .CodeMirror-linenumber{
      //color: white;
      //@include bg();
    }
  }
}
